.ion-ios-create {
  height: inherit;
  border-radius: 120em;
  background-color: #f5c9c6;
  height: 160%!important;
}

.tabs-ios .tabbar {
//  background-color: #f5c9c6!important;
  color: #222222!important;
}
