<ion-header>
  <ion-title>
    Me
  </ion-title>
</ion-header>

<ion-content padding>

  <section class="me">
    <ion-col col-3>
      <div>
        name:BB
      </div>
    </ion-col>
    <ion-col col-9>
      <div>
        <img src="assets/imgs/bb.JPG" class="my_profile_photo" />
      </div>
    </ion-col>
    <br>
  </section>

  <section class="myfriends">
    <!--  <div *ngFor="let friend of friends">-->
    <div>
      <ion-col col-3>
        <div>
          name:BB
        </div>
      </ion-col>
      <ion-col col-3>
        <div>
          <img src="assets/imgs/bb.JPG" class="my_profile_photo" />
        </div>
      </ion-col>
    </div>
  </section>

  <button ion-button icon-only>
    <ion-icon name="home">Signout</ion-icon>
  </button>

  <ion-item class="more-logout" *ngIf="loggedIn" (click)="logout()">LOGOUT</ion-item>
</ion-content>