page-me {
  .scroll-content {
    background-color: color($colors, bg_gray);
  }

  /* --------------------------------

Paddings and margins

-------------------------------- */
  .marginBottom0 {
    margin-bottom: 0;
  }
  .marginTop0 {
    margin-top: 0;
  }
  .marginTop5 {
    margin-top: 5px !important;
  }
  /* --------------------------------

  Modules - reusable parts of our design

  -------------------------------- */

  .my_profile_photo{
   
      height:50%;
      width:50%;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border-color: #4a87ee;
      border-style: solid;
      border-width: 2px;
      padding-top:5px;
      background: white;
  }

  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
    .cd-timeline-content p {
      font-size: 16px;
      font-size: 1rem;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
      font-size: 14px;
      font-size: 0.875rem;
    }
  }




}
