page-me {
  .scroll-content {
    background-color: color($colors, bg_gray);
  }

  /* --------------------------------

  Modules - reusable parts of our design

  -------------------------------- */

  .my_profile_photo{
      height:30%;
      width:30%;
      top: 0;
      left: 0;
      border-radius: 20%;
      border-color: #4a87ee;
      border-style: solid;
      border-width: 2px;
      margin-left: 60%;
  }
  
  .friend_profile_photo{
    height:25%;
    width:25%;
    border-radius: 20%;
    border-color: #4a87ee;
    border-style: solid;
    border-width: 2px;
    margin-left: 70%;
}

  .myName{
    font-size: 60px;
  }

  .friendName{
    font-size: 50px;
  }

  @media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
      font-size: 20px;
      font-size: 1.25rem;
    }
  }
}
